<% options.forEach(option => { %>
    <input type="radio" id="<%= option.id%>" name="<%= name%>" value="<%= option.val%>">
    <label for="<%= option.id %>"> <%= option.val%> </label><br>
<% }) %>



        